page {
    width: 100%;
   height: 100%;
    background: #f7f7f7;
    .nineLists {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;       
        .nineList {
            width: 47%;
            background: #fff;
            padding: 1%;
            margin-bottom: 2%;
            image {
                width: 100%;
                height: 354rpx;
            }
            .goodsName {
                font-size: 28rpx;
                margin: 10rpx 0 20rpx;
                display: -webkit-box;
                overflow: hidden;
                white-space: normal !important;
                text-overflow: ellipsis;
                word-wrap: break-word;
                -webkit-line-clamp: 1; //2 代表两行 可变
                -webkit-box-orient: vertical;
            }
            .goodsInfo {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 25rpx;
                .price {
                    color: #f66;
                    font-size: 35rpx;
                    span{
                        font-size: 45rpx;
                    }
                }
                .buynum {
                    color: #737373;
                }
            }
        }
    }
}
