.banner{
    width: 100%;
    height: 350rpx;
    swiper{
        width: 100%;
        height: 100%;
        swiper-item{
            width: 100%;
            height: 100%;
            image{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.bannerBottom{
    width: 100%;
    height: 180rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "微软雅黑";
    view{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 37rpx;
        image{
            width: 80rpx;
            height: 80rpx;
            margin: 20rpx 0;
        }
    }
}
.pics{
    width: 100%;
    height: 320rpx;
    padding: 10rpx 0;
    background: #eee;
    overflow: hidden;
    image{
        width: 49.5%;
        float: left;
    }
    .pic1{
        height: 320rpx;
        margin-right:7rpx ;
    }
    .pic2,.pic3{
        height: 157rpx;
    }
    .pic2{
        margin-bottom: 8rpx;
    }
}
.tips{
    width: 100%;
    box-sizing: border-box;
    border-left: 8rpx solid #f4ea2a;
    height: 60rpx;
    font-size: 30rpx;
    line-height: 60rpx;
    text-indent: 10rpx;
}
.proList{
    width: 100%;
    background: #eee;
    padding-top: 1rpx;
    .proItem{
        width: 100%;
        height: 200rpx;
        margin: 5rpx 0;
        padding: 10rpx 0;
        background: #fff;
        display: flex;
        .proImg{
            width: 200rpx;
            height: 200rpx;
            margin:0 20rpx;
        }
        .proDetail{
            flex: 1;
            height: 200rpx;
            .proName{
                width: 100%;
                height: 50rpx;
                display: flex;
                align-items: center;
                view{
                    flex: 1;
                    height: 30rpx;
                    line-height: 30rpx;
                    font-size: 27rpx;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: normal !important;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
            .proInfo{
                width: 100%;
                height: 70rpx;
                margin-top: 20rpx;
                font-size: 25rpx;
                color: grey;
                word-spacing: 0;
                letter-spacing: 0;
                span{
                    display: inline-block;
                }
                .sPrice{
                    font-size: 40rpx;

                    color: #000;
                    position: relative;
                    top: 10rpx;
                    span{
                        font-size: 30rpx;
                    }
                }
                .bPrice{                                   
                    text-decoration: line-through;
                    margin: 0 10rpx;
                }
                .discount{
                    color: #f66;
                    font-size: 30rpx;
                }
            }
            .proNum{
                width: 95%;
                height: 40rpx;
                color: grey;
                font-size: 25rpx;
                text-align: right;
            }
        }
    }
}
